/* /////////////// General /////////////// */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: em(16);
    transition: .3s;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    margin-left: 68px;
}

/*Basic setup*/

img,
video,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* /////////////// Links /////////////// */

a {
    transition: 0.3s;
    cursor: pointer !important;
    text-decoration: none;
}

/* /////////////// Custom Scrollbar style /////////////// */
@include min-width("md") {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active {
        background: color(primary);
        border: 0;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track:hover,
    ::-webkit-scrollbar-track:active {
        background: #fff;
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}

::selection { background: color(secondary); }
