.flat {
    #rail {
        background-color: color(light-primary);
        .nav-link {
            color: white;
            .nav-icon {
                .stroke {
                    stroke-width: 6px;
                }
            }
            &:hover {
                .nav-icon {
                    .stroke {
                        fill: white;
                        stroke: color(light-primary);
                    }
                    .fill {
                        fill: color(light-primary);
                    }
                }
            }
        }
    }
    .stroke {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        transform-origin: center;
        transition: .6s;
    }
    .fill {
        fill: white;
        transform-origin: center;
        transition: .6s;
    }
}