$devices: (
    xs: 0px,
    sm: 480px,
    md: 600px,
    lg: 992px,
    xl: 1200px,
    x2: 1440px,
    x3: 1900px,
);

@function device($device-name){ @return map_get($devices, $device-name); }

@mixin max-width($device-name) {@media (max-width: device($device-name)) {@content;}}
@mixin min-width($device-name) {@media (min-width: device($device-name)) {@content;}}

@function em($px){@return calc($px / 16) + unquote('em');}
@function rem($px){@return calc($px / 16) + unquote('rem');}