$modes: (
    light: '',
    dark: '.d'
);

$devices: (
    xs: 0px,
    sm: 480px,
    md: 600px,
    lg: 992px,
    xl: 1200px,
    x2: 1440px,
    x3: 1900px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

$gaps: (
  margin: 'm',
  padding: 'p',
);

@function space($spacer-name){ @return map_get($spacers, $spacer-name); }
@function device($device-name){ @return map_get($devices, $device-name); }

@mixin max-width($device-name) {@media (max-width: device($device-name)) {@content;}}
@mixin min-width($device-name) {@media (min-width: device($device-name)) {@content;}}

@function em($px){@return calc($px / 16) + unquote('em');}
@function rem($px){@return calc($px / 16) + unquote('rem');}

@mixin titles { h1,h2,h3,h4,h5,h6 {@content;}}
@mixin buttons { .btn {@content;}}
@mixin inputs { input, textarea {@content;}}
@mixin radio { .radio {@content;}}