.smooth {
    transition: .3s;
}

.motion-dashOffset {
    animation: dashOffset forwards;
}

.time-1 {
    animation-duration: 1s;
}

.delay-1 {
    animation-delay: 1s;
}

@keyframes dashOffset {
    to {
        stroke-dashoffset:0
    }
}

.hover-opacity-0-to-100 {
    opacity: 0;
    &:hover {
        opacity: 1;
    }
}

// Rail Icons animation
@keyframes icon-element-jump {
    50% { transform: translateY(-10px) }
}