$point: 12;
$points: (
  1: calc(1 / $point * 100%),
  2: calc(2 / $point * 100%),
  3: calc(3 / $point * 100%),
  4: calc(4 / $point * 100%),
  5: calc(5 / $point * 100%),
  6: calc(6 / $point * 100%),
  7: calc(7 / $point * 100%),
  8: calc(8 / $point * 100%),
  9: calc(9 / $point * 100%),
  10: calc(10 / $point * 100%),
  11: calc(11 / $point * 100%),
  12: calc(12 / $point * 100%),
);

.r {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    &.sm {
        max-width: 700px;
    }
    &.md {
        max-width: 1000px;
    }
    &.lg {
        max-width: 1200px;
    }
    &.full {
        width: 100%;
    }
    &.rr {
        flex-direction: row-reverse;
    }
    &.no-wrap {
        flex-wrap: nowrap;
    }
}

.c {
    flex: 1;
    @include max-width('md') {
        flex: 0 1 100%;
    }
    @each $device-name, $device-value in $devices {
        @each $point-name, $point-value in $points {
            &.#{$device-name}#{$point-name} {
                @include min-width($device-name) {
                    flex: 0 0 $point-value;
                    max-width: $point-value;
                }
            }
        }
    }
}

// Row Y
.ys {
    align-items: flex-start;
}
.yc {
    align-items: center;
}
.ye {
    align-items: flex-end;
}

// Row X
.xs {
    justify-content: flex-start;
}
.xc {
    justify-content: center;
}
.xe {
    justify-content: flex-end;
}

// Display
.d-block {
    display: block;
}