$point: 12;
$points: (
  1: calc(1 / $point * 100%),
  2: calc(2 / $point * 100%),
  3: calc(3 / $point * 100%),
  4: calc(4 / $point * 100%),
  5: calc(5 / $point * 100%),
  6: calc(6 / $point * 100%),
  7: calc(7 / $point * 100%),
  8: calc(8 / $point * 100%),
  9: calc(9 / $point * 100%),
  10: calc(10 / $point * 100%),
  11: calc(11 / $point * 100%),
  12: calc(12 / $point * 100%),
);

.r {
    display: flex;
    flex-wrap: wrap;
    &.rsmd {
        max-width: 700px;
        margin: 0 auto;
    }
}
@each $device-name, $device-value in $devices {
    @each $point-name, $point-value in $points {
        .c#{$device-name}#{$point-name} {
            @include min-width($device-name) { width: $point-value;}
        }
    }
}

// Row Y
.y-start {
    align-items: flex-start;
}
.y-center {
    align-items: center;
}
.y-end {
    align-items: flex-end;
}

// Row X
.x-start {
    justify-content: flex-start;
}
.x-center {
    justify-content: center;
}
.x-end {
    justify-content: flex-end;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}