.neum {
    @include titles {
        // text-shadow:  1px 1px 2px color(light-glare),
        //              -1px -1px 2px color(light-dim);
    }

    @include buttons {
        border-radius: 40px;
    }

    @include inputs {
        border-radius: 40px;
    }

    @include radio {
        .radio-input {
            &:checked {
                + .radio-icon {
                    .radio-icon-inside {
                        opacity: .85;
                    }
                }
            }
        }
        .radio-icon {
            background-color: transparent;
            .radio-icon-inside {
                opacity: .25;
                width: .75rem;
                height: .75rem;
            }
        }
    }
    
    #rail {
        .stroke {
            stroke-width: 4px;
            fill: none;
        }
        .fill {
            transform-origin: center;
        }
    }
}