@include buttons {
    display: inline-flex;
    padding: space(3) space(4);
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    font-size: .8rem;
    transition: .3s;
    cursor: pointer;
}